.animated-text-container{
    display: flex;
    font-size: 12em;
   font-weight: 800;
   position: fixed;
   bottom: 0;


   
}
@media screen and (max-width:1000px)and (min-width:500px) {
    .animated-text-container{
        display: flex;
        font-size: 5em;
       font-weight: 800;
    
       
    }
    
}



.animated-text-item{
    transform: translateY(1000);
    transform: translate(0%,40%);
    
    transition: 1.9s;
}
.animated-text-item:hover{
    transform: translateY(-90px);
    color: aqua;

}